@use '../../utils/var.scss' as var;
@use '../../utils/mixin.scss' as mixin;
@use '../../utils/color.scss' as color;

.header {
  padding: 0 32px;

  &__wrapper {
    max-width: var.$defaultWidth;
    min-height: 92px;
    margin: 40px auto 0;

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__link-logo {
    @include mixin.fonts(
      $ff: Poppins,
      $fw: 700,
      $fz: 18px,
      $lh: 130%,
      $c: color.$colorT5
    );

    width: 175px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    gap: 12px;

    transition: all 0.2s linear;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__nav {
    max-width: 649px;
    width: 100%;
  }

  &__list {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    @include mixin.fonts(
      $ff: Poppins,
      $fw: 500,
      $fz: 18px,
      $lh: 160%,
      $c: #75767f
    );
    text-decoration: none;

    transition: all 0.2s linear;

    &:hover {
      cursor: pointer;
      color: color.$colorT1;
    }
  }

  &__burger {
    display: none;
  }

  &__burger-checkbox {
    display: none;
  }

  &__button {
    width: 186px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: color.$colorBG7;
    border-radius: 100px;

    border: none;

    @include mixin.fonts(
      $ff: Poppins,
      $fw: 600,
      $fz: 18px,
      $lh: 120%,
      $c: color.$colorT1
    );

    transition: all 0.2s linear;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__wrapper {
      margin-top: 0;
      min-height: 76px;
    }
    &__button {
      display: none;
    }

    &__burger-checkbox {
      display: block;
      position: absolute;
      visibility: hidden;
    }

    &__burger {
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      background: transparent;
      width: 32px;
      height: 25px;
      z-index: 10;

      &::before,
      &::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: color.$colorT2;
      }

      &::before {
        top: 0;
        box-shadow: 0 11px 0 color.$colorT2;
        transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
      }

      &::after {
        bottom: 0;
        transition: bottom 0.3s 0.15s, transform 0.3s;
      }
    }
  }

  .header__burger-checkbox:checked + .header__burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 color.$colorT2;
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }

  .header__burger-checkbox:checked + .header__burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }

  .header__nav {
    top: 0;
    right: 0;
    max-width: 100%;
    position: absolute;
    background: white;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
    height: 100%;
  }

  .header__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header__burger-checkbox:checked ~ .header__nav {
    transform: translateX(0);
  }
}
