@use '../../utils/var.scss' as var;
@use '../../utils/mixin.scss' as mixin;
@use '../../utils/color.scss' as color;

.preview {
  padding: 0 32px;

  &__wrapper-1 {
    max-width: 1856px;
    width: 100%;
    min-height: 820px;

    background: color.$colorBG5;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 100px auto 0;
    padding: 0 24px;
  }

  &__wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  &__wrapper-3 {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__img {
    width: 600px;
    height: 620px;
  }

  &__wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    @include mixin.fonts(
      $ff: Poppins,
      $fw: 700,
      $fz: 52px,
      $lh: 130%,
      $c: color.$colorT4
    );
  }

  &__text {
    @include mixin.fonts(
      $ff: Inter,
      $fw: 500,
      $fz: 18px,
      $lh: 160%,
      $c: color.$colorT2
    );
    max-width: 660px;
  }

  &__wrapper-slider {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__button {
    min-width: 52px;
    min-height: 52px;
    background-color: color.$colorBG4;

    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2 linear;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__list {
    max-width: 443px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    width: 22.5%;
    height: 8px;
    border-radius: 3.5px;
    background-color: color.$colorBG8;

    &-active {
      width: 75%;
      background-color: color.$colorBG6;
    }
  }
}

@media (max-width: 1280px) {
  .preview {
    &__wrapper-2 {
      flex-direction: column;
      padding: 48px 0;
    }
  }
}

@media (max-width: 700px) {
  .preview {
    &__wrapper-2 {
      gap: 32px;
    }

    &__img {
      width: 334px;
      height: 362px;
    }
  }
}

@media (max-width: 430px) {
  .preview {
    &__wrapper-1 {
      margin-top: 48px;
    }

    &__title {
      font-size: 32px;
    }

    &__wrapper-3 {
      gap: 48px;
    }
  }
}
