$colorT1: #ff7d34;
$colorT2: #75767f;
$colorT3: #fcfdfe;
$colorT4: #191b23;
$colorT5: #1c2132;

$colorBG1: #1a1919;
$colorBG2: #161412;
$colorBG3: #120e0b;
$colorBG4: #fcfdfe;
$colorBG5: #f3f4f5;
$colorBG6: #ff7d34;
$colorBG7: #fdf0ea;
$colorBG8: #c6c6d0;
